*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.result button{
    background-color: rgb(9, 255, 0);
    border-radius: 10px;
    color: rgb(64, 0, 116);
    width: 100px;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
}

.continer{
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menu{
    color: chocolate;
    letter-spacing: 0.3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button{
    justify-content: space-between;
}